@font-face {
    src: url('fonts/OpenSans-Regular.ttf');
    font-family: 'Open Sans';
}

body {
    font-family: 'Open Sans', sans-serif;
}

.signup-form, .signin-form, .reset-form {
    width: 30vw;
    margin: 20vh auto 0 auto;
    box-sizing: border-box;
    display: none;
}

h1 {
    font-size: 2em;
    margin-bottom: 2vh;
}

input {
    display: inline-block;
    width: 100%;
    margin: 1vh auto 2vh;
    padding: 1vw;
}

label {
    display: inline-block;
}

button {
    padding: 1vh 2vw;
    border-radius: 0.5vh;
    background-color: dodgerblue;
    color: white;
}

.status {
    position: absolute;
    top: 1vh;
    left: 1vw;
}

.want-to-signin {
    display: none;
    position: absolute;
    top: 1vh;
    right: 1vw;
}

.signout {
    color: dodgerblue;
    cursor: pointer;
}

.post-form {
    position: absolute;
    bottom: 0;
    width: 100vw;
}